html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  min-height: 100%;
  padding-bottom: 5rem;
}
.container-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 29px 0;
}
.col-text p{ 
  font-size: 16px;
}
.col-text{
  animation: slide 0.9s forwards;
  width: 50%;
  transform: translate3d(0%, -50%, 0);
}
@keyframes slide
{  
	100%
	{    
	    transform: translate3d(0, 0, 0);
	}
}

.col-img img{
  max-width: 180px;
  animation: slide 0.9s forwards;
  transform: translate3d(120px, 0, 0);
}
span.title {
  font-size: 24px;
  color: #f9a300;
  font-weight: 700;
}
.home{
  display: flex;
  justify-content: center;
}
.footer-top{
  background-color: #eb5b7c;
  float: left;
  width: 100%;
}

.imgages {
  display: flex;
  justify-content: space-between;
}
.footer-copyright div{
  display: flex;
  justify-content:space-between;
}
.page-footer {
  background-color: #d8d0d0;
  float: left;
  width: 100%;
  padding: 0;
}
.page-footer .row,.page-footer .footer-copyright{
  float: left;
  width: 100%;
}
nav {
  background: #894d9b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700;
  height: 64px;
}
nav a{
  padding: 0 20px;
}
nav a:hover {
  background-color: #eb5b7c;
  text-decoration: none;
  color: #fff;
}
.home img{
  max-width: 200px;
  max-height: 160px;
}
.card{
  float: left;
  margin: 15px;
  width: 100%;
}
.card-customers{
  width: 20rem;
}
.card-img-top {
  min-height: 186px;
  max-height: 186px;
}
.container-customers{
  float: left;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
header {
  margin-top: 3rem;
}

.form-control {
  box-shadow: none;
}
.mt-3 {
  width: 25%;
  float: left;
}
.lista-citas{
  width: 100%;
  float: left;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}


.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #03a9f4;
}
.buscador i {
  width: 100%;
}
.error {
  color:white;
  margin-top: 3rem;
  text-align: center;
}
.resultado {
  margin-top: 3rem;
}
.resultado h2 {
  font-size: 1.6rem;
  text-align: center;
}
.resultado p {
  text-align: center;
  font-size: 1.4rem;
}
.resultado .temperatura {
  font-size: 1.8rem;
}
